/* Sidebar.css */

.sidebar {
    width: 254px;
    height: 92%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    position: fixed;
    top: 42px;
    border-right: solid 2px rgb(231, 231, 231);
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff3d2;
  }
  
  .sidebar-button {
    width: 252px;
    position: relative;
    left: -20px;
    padding: 10px;
    text-align: start;
    /* margin: 10px 0; */
    font-size: 16px;
    color: grey;
    background-color: transparent;
    border:none;
    border-bottom: solid 2px rgb(231, 231, 231);
    cursor: pointer;
    border-radius: 0;
  }
  
  
  .logout {
    background-color: #ed635e;
  }
  
  .logout:hover {
    background-color: #c9302c;
  }
  .logout
  {
    position: relative;
    left: 0px;
    width: 252px;
    border: none;
    color: white;
    position: fixed;
    bottom:0px;
    /* margin-bottom: 8px; */
  }

  .sidebar-button.active {
    background-color: #7e7e7e;
    color: #fff;
  }
  .sidebar-button:hover
  {
    background-color: #b1b1b1;
    color: #fff;
  }